<html>

<head>
        <a href="{{ url_for('index') }}"><img src="./static/CC-Logo-01.png" 
            alt="TAMU" width = 70em height 70em>
        </a>
        <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>           

    <div class='content'>
        <div class="center">
            <button id="show-Login">Add Item</button>
            <button id="show-Login2">Remove Item</button>
        </div>
        
        
        <form>
            <input type="text2" placeholder=" Item Name...." name="action">   
            <button class="search">Search</button>
        </form>
    </div>
    
<form id = "adddata action = "." method = 'post'>
    <div class="popup">
            <div class="close-btn">&times;</div>
            <div class="form" >
                <h2>Add Item</h2>
                <div class="form-element">
                    <label for="item">Item Name</label>
                    <input type="text" id="item" name="item" placeholder="Enter item name">
                </div>
                <div class="form-element">
                    <label for="cata">Category</label>
                    <input type="password" id="cata" name="cata" placeholder="Enter category">
                </div>
                <div class="form-element">
                    <input type="submit" value="Submit">
                    <input type="hidden" name="checker" value="add">
                </div>
            </div>
        </div>
    </form>
    <form id = "remover action = "." method = 'post'>
        <div class="popup2">
            <div class="close-btn">&times;</div>
            <div class="form">
                <h2>Remove Item</h2>
                <div class="form-element">
                    <label for="item">Item Name</label>
                    <input type="text" id="item" name= "item" placeholder="Enter item name">
                </div>
                <div class="form-element">
                    <button>Confirm</button>
                    <input type="hidden" name="checker" value="remove">
                </div>
            </div>
        </div>
</form>
<div class='content'>
    <div #data>
        <p class="title">Inventory</p>
        <table>
                <tr>
                    <th>Category</th>
                    <th>Number of Items</th>
                </tr>
                <tr>
                    <td rowspan = "1">{{ box[0].category }}</td>
                    <td>{{box[0].num_items}}</td>
                </tr>
                <tr>
                    <td>{{box[1].category}}</td>
                    <td>{{box[1].num_items}}</td>
                <tr>
                    <td>{{box[2].category}}</td>
                    <td>{{box[2].num_items}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3">Total Average: 72.5</td>
                </tr>
                </table>
</div>
<footer>
    <p>TAMU Hackathon 2022 Cubicool™<br>
    <p> Cubicool™<br>
  </footer>
</div>
   
</body>
</html>
<script type="text/javascript" src="./static/script.js">
</script>